<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="loginForm" novalidate>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="form-group" [ngClass]="{'has-danger': f.email.invalid && (f.email.dirty || f.email.touched),
                                              'has-success': f.email.valid && (f.email.dirty || f.email.touched)}">
                    <label for="email" class="form-control-label">User Name</label>
                    <input id="email" type="email" class="form-control" placeholder="Enter your email" formControlName="email" required/>
                    <span *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
                          class="form-control-feedback">
                      <p *ngIf="f.email.errors?.required">Email is required</p>
                      <p *ngIf="f.email.errors?.pattern">Please enter a valid email address</p>
                    </span>
                  </div>
                  <div class="form-group" [ngClass]="{'has-danger': f.password.invalid && (f.password.dirty || f.password.touched),
                                                      'has-success': f.password.valid && (f.password.dirty || f.password.touched)}">
                    <label for="password" class="form-control-label">Password</label>
                    <input id="password" type="password" class="form-control" placeholder="Enter your password" formControlName="password"  required/>
                    <span class="form-control-feedback" *ngIf="f.password.errors && (f.password.dirty || f.password.touched)">
                      <p *ngIf="f.password.errors.required">Password is required</p>
                      <p *ngIf="f.password.errors.pattern">Password must be UpperCase, LowerCase and Number characters </p>
                    </span>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="form-control btn btn-primary px-4" id="login" [disabled]="loginForm.invalid" (click)="login()">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Registration necessarily provides more personal information to a system than it would otherwise have. Even if the credentials used are otherwise meaningless.</p>
                  <button type="button" class="btn btn-primary active mt-3" (click)="register()">Register Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
