<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="registerForm">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="row">
                  <div class="col-sm-6 form-group" [ngClass]="{'has-danger': f.firstName.invalid && (f.firstName.dirty || f.firstName.touched),
                                              'has-success': f.firstName.valid && (f.firstName.dirty || f.firstName.touched)}">
                    <label for="firstName" class="form-control-label">First Name</label>
                    <input id="firstName" type="text" class="form-control" placeholder="Enter your first name" formControlName="firstName" required/>
                    <span *ngIf="f.firstName.invalid && (f.firstName.dirty || f.firstName.touched)"
                          class="form-control-feedback">
                      <p *ngIf="f.firstName.errors?.required">First Name is required</p>
                    </span>
                  </div>
                  <div class="col-sm-6 form-group" [ngClass]="{'has-danger': f.lastName.invalid && (f.lastName.dirty || f.lastName.touched),
                                                      'has-success': f.lastName.valid && (f.lastName.dirty || f.lastName.touched)}">
                    <label for="lastName" class="form-control-label">Last Name</label>
                    <input id="lastName" type="text" class="form-control" placeholder="Enter your last name" formControlName="lastName"  required/>
                    <span class="form-control-feedback"
                          *ngIf="f.lastName.errors && (f.lastName.dirty || f.lastName.touched)">
                      <p *ngIf="f.lastName.errors.required">Last Name is required</p>
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 form-group" [ngClass]="{'has-danger': f.email.invalid && (f.email.dirty || f.email.touched),
                                              'has-success': f.email.valid && (f.email.dirty || f.email.touched)}">
                    <label for="email" class="form-control-label">Email</label>
                    <input id="email" type="email" class="form-control" placeholder="Enter your email address" formControlName="email" required/>
                    <span *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
                          class="form-control-feedback">
                      <p *ngIf="f.email.errors?.required">Email is required</p>
                      <p *ngIf="f.email.errors?.pattern">Please enter a valid email address</p>
                    </span>
                  </div>
                  <div class="col-sm-6 form-group" [ngClass]="{'has-danger': f.mobileNumber.invalid && (f.mobileNumber.dirty || f.mobileNumber.touched),
                                                      'has-success': f.mobileNumber.valid && (f.mobileNumber.dirty || f.mobileNumber.touched)}">
                    <label for="mobileNumber" class="form-control-label">Mobile Number</label>
                    <input id="mobileNumber" type="tel" class="form-control" placeholder="Enter your contact number" formControlName="mobileNumber"  required/>
                    <span class="form-control-feedback" *ngIf="f.mobileNumber.errors && (f.mobileNumber.dirty || f.mobileNumber.touched)">
                      <p *ngIf="f.mobileNumber.errors?.required">Mobile Number is required</p>
                      <p *ngIf="f.mobileNumber.errors?.pattern">Mobile Number should be valid</p>
                    </span>
                  </div>
                </div>
               <!-- <div class="row">
                  <div class="col-sm-6 form-group" [ngClass]="{'has-danger': f.gender.invalid && (f.gender.dirty || f.gender.touched),
                                                      'has-success': f.gender.valid && (f.gender.dirty || f.gender.touched)}">
                    <label for="gender" class="form-control-label">Gender</label>
                    <select id="gender" class="form-control" formControlName="gender"  required>
                      <option value="">Choose your gender</option>
                      <option value="male">Male</option>
                      <option value="feMale">Female</option>
                    </select>
                    <span class="form-control-feedback" *ngIf="f.gender.errors && (f.gender.dirty || f.gender.touched)">
                      <p *ngIf="f.gender.errors?.required">Gender is required</p>
                  </span>
                  </div>
                  <div class="col-sm-6 form-group" [ngClass]="{'has-danger': f.dateOfBirth.invalid && (f.dateOfBirth.dirty || f.dateOfBirth.touched),
                                                      'has-success': f.dateOfBirth.valid && (f.dateOfBirth.dirty || f.dateOfBirth.touched)}">
                    <label for="dateOfBirth" class="form-control-label">Date Of Birth</label>
                    <input id="dateOfBirth" type="text" class="form-control" placeholder="Enter your date of birth" formControlName="dateOfBirth" bsDatepicker [bsConfig]="datepickerConfig"  required/>
                    <span class="form-control-feedback" *ngIf="f.dateOfBirth.errors && (f.dateOfBirth.dirty || f.dateOfBirth.touched)">
                      <p *ngIf="f.dateOfBirth.errors?.required">Date Of Birth is required</p>
                    </span>
                  </div>
                </div>-->
                <div class="row">
                  <div class="col-sm-6 form-group" [ngClass]="{'has-danger': f.password.invalid && (f.password.dirty || f.password.touched),
                                                    'has-success': f.password.valid && (f.password.dirty || f.password.touched)}">
                    <label for="password" class="form-control-label">Password</label>
                    <input id="password" type="password" class="form-control" placeholder="Enter your password" formControlName="password"  required/>
                    <span class="form-control-feedback"
                          *ngIf="f.password.errors && (f.password.dirty || f.password.touched)">
                      <p *ngIf="f.password.errors.required">Password is required</p>
                      <p *ngIf="f.password.errors.pattern">Password must be UpperCase, LowerCase and Number characters </p>
                    </span>
                  </div>
                  <div class="col-sm-6 form-group" [ngClass]="{'has-danger': f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched),
                                                    'has-success': f.confirmPassword.valid && (f.confirmPassword.dirty || f.confirmPassword.touched)}">
                    <label for="confirmPassword" class="form-control-label">Repeat Password</label>
                    <input id="confirmPassword" type="password" class="form-control" placeholder="Retype the password" formControlName="confirmPassword"  required/>
                    <span class="form-control-feedback"
                          *ngIf="f.confirmPassword.errors && (f.confirmPassword.dirty || f.confirmPassword.touched)">
                      <p *ngIf="f.confirmPassword.errors?.required">Confirm Password is required</p>
                      <p *ngIf="f.confirmPassword.errors?.pattern">Password must be UpperCase, LowerCase and Number characters </p>
                      <p *ngIf="f.confirmPassword.errors?.mustMatch">Password and Confirm Password must be Equal</p>
                    </span>
                  </div>
                </div>
                <button type="button" id="register" [disabled]="registerForm.invalid" class="btn btn-block btn-success" (click)="signup()">Create Account</button><br/>
                <div class="text-center">
                    <h5 style="color:blueviolet">Already have an account <button class="btn btn-primary" routerLink="/authentication/login"> Sign In </button></h5>
                </div>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-primary" style="background-color:#C63D2D;border-color:#C63D2D;" type="button" (click)="signInWithGoogle()"><i class="fa fa-google"></i>Google</button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-primary" style="background-color:#385998;border-color:#385998;"  type="button" (click)="signInWithFB()"><i class="fa fa-facebook"></i>Facebook</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
